<div class="top-bar">
	<div class="container">
		<div class="left-bar">
			<ul class="social-media">
				<li class="facebook"><a href="#"><i class="fa fa-facebook"></i></a></li>
				<li class="twitter"><a href="#"><i class="fa fa-twitter"></i></a></li>
				<li class="google"><a href="#"><i class="fa fa-google"></i></a></li>
			</ul>
		</div>
		<div class="right-bar">
			<ul class="contact">
				<li><i class="fa fa-globe"></i></li>
        <li ><a href="/">Go Home</a></li>
			</ul>
			<ul class="mail">
				<li><i class="fa fa-envelope"></i></li>
				<li><span>Send Email</span></li>
        <li class="contact-info"><li><%= link_to "support@simspace.com", static_pages_contact_path %></li>
			</ul>
      
      <% if user_signed_in? %>
      
      <ul class="login">
        <li><i class="fa fa-mail-forward"></i></li>
        <li><%= link_to "View Spaces", spaces_path %></li>
        <li><i class="fa fa-sign-out"></i></li>
        <li><%= link_to "Sign Out", destroy_user_session_path, method: :delete %></li>
			</ul>
      <% else %>
      
			<ul class="login">
				<li><i class="fa fa-sign-in"></i></li>
        <li><%= link_to "Login", new_user_session_path %></li>
        <li><i class="fa fa-user"></i></li>
        <li><%= link_to "Sign Up", new_user_registration_path %></li>
			</ul>
      
      <% end %>
		</div>
	</div>
</div>

